
@{ ViewData["Title"] = "Delete"; }

@model Product

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details</h4>
                <div class="table-responsive pt-3">
                    <table class="table table-bordered" style="table-layout: fixed;">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    OldPrice
                                </th>
                                <th>
                                    CurrentPrice
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Ingredients
                                </th>
                                <th>
                                    Nutrition
                                </th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    @Model.Name
                                </td>
                                <td>
                                    @if (Model.Prices.OldPrice != null)
                                    {
                        @Model.Prices.OldPrice}

                                </td>
                                <td>
                                    @Model.Prices.CurrentPrice
                                </td>

                                <td>
                                    <ul>
                                        <li><h5>@Model.Category.Name</h5></li>
                                    </ul>

                                </td>
                                <td style="word-wrap: break-word; width: 150px; white-space:unset;">

                                    @Model.Description

                                </td>
                                <td style="word-wrap: break-word; width: 150px; white-space:unset;">

                                    @Model.Ingredients

                                </td>

                                <td style="word-wrap: break-word; width: 150px; white-space:unset;">
                                    <h5>Calories: <span>@Model.Nutrition.Calories</span></h5>
                                    <h5>Carbohydrates: <span>@Model.Nutrition.Carbohydrates</span></h5>
                                    <h5>Oils: <span>@Model.Nutrition.Oils</span></h5>
                                    <h5>Proteins: <span>@Model.Nutrition.Proteins</span></h5>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-12 d-flex flex-wrap justify-content-around">

        <div class="col-2 product-image  mr-2 ml-2 d-flex flex-column justify-content-center">
            <img class="first-image" src="~/assets/images/products/@Model.Image" alt="product" style="width:100%; border:1px solid #CED4DA; border-radius:8px;">
        </div>

    </div>
</div>


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <form class="forms-sample" method="post">
                <button type="submit" class="btn btn-danger mr-2">Delete</button>
                <button class="btn btn-light" asp-action="Index">Cancel</button>
            </form>
        </div>
    </div>
</div>

