@model List<Product>


@foreach (Product product in Model)
{
    <tr data-name="@product.Name">
        <td class="product-name">
            @product.Name
        </td>
        <td>
            @product.Prices.CurrentPrice  AZN
        </td>

        <td>
            @product.Category.Name

        </td>

        <td>
            <a class="btn btn-primary" asp-action="Detail" asp-route-id="@product.Id">Detail</a>
            <a class="btn btn-warning" asp-action="Update" asp-route-id="@product.Id">Update</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
        </td>
    </tr>}